{{extend 'layout.html'}}

<div class="container" >
  <div class="jumbotron" align='center'>
    <h1>{{=T('Files')}}</h1> 
</div>


<div class="panel panel-success" id='files'>
    <div class="panel-heading">
        <h2 class="panel-title">{{=T('What do you want to do?')}}</h2>
    </div>
     <div class="panel-body">
        <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'copy_files'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Send Files')}} </button>
        </a>
        
    </div>
</div>
{{=BEAUTIFY(response._vars)}}
