{{extend 'layout.html'}}

<div class="container" >
  <div class="jumbotron" align='center'>
    <h1>{{=T('System')}}</h1> 
</div>



<div class="panel panel-success" id="system">
    <div class="panel-heading">
        <h2 class="panel-title">{{=T('What do you want to do?')}}</h2>
    </div>
     <div class="panel-body">
         <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'reboot'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Reboot')}} </button>
         </a>
         
         <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'install_package'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Install Packages')}} </button>
         </a>
         
         <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'remove_packages'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Remove packages')}} </button>
         </a>
         
         <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'add_repo'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Add Repositories')}} </button>
         </a>
         
         <a href="{{=URL('maquinas','mostrar', vars=dict(accion= 'remove_repo'))}}">
            <button class= 'btn btn-default btn-lg'> {{=T('Remove Repositories')}} </button>
         </a>
         
    </div>
</div>
{{=BEAUTIFY(response._vars)}}
