{{extend 'layout.html'}}

<div class="jumbotron" align='center'>
    <h1>{{=T('Agree teacher')}}</h1>
</div>

{{if rows:}}
{{ linea = 1}}
<div class="container-fluid center">
              <div class="panel panel-info center">
                    <div class="panel-heading">
                        <h2 class="panel-title center">{{=T("Please select an action for each user request")}}</h2>
                    </div>

<div class="panel-body ">

<div class="table-responsive text-justify " >
    <table class="table table-striped table-hover">
      <thead class="thead-inverse bg-success">
            <tr>
                <th>#</th>
                <th>{{=T("First name")}}</th>
                <th>{{=T("Last name")}}</th>
                <th>{{=T("Registration state")}}</th>
                <th>{{=T("Action")}}</th>
            </tr>
        </thead>
        <tbody>
            {{for r in rows:}}
                <tr>
                    <th scope="row">{{=linea}}</th>
                    <td>{{=r.first_name}}</td>
                    <td>{{=r.last_name}}</td>
                    <td>{{=r.registration_key}}</td>
                    <td>
                        <a href="{{=URL('show_teacher',args=r.id)}}">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok"></span> {{=T("Accept")}} 
                            </button>
                        </a>
                        
                        <a href="{{=URL('deny_teacher',args=r.id)}}">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>   {{=T("Reject")}} 
                            </button>
                        </a>
                    </td>
                </tr>
            {{linea = linea + 1}}
            {{pass}}
         </tbody>     
    </table>
</div> 
    {{else:}}
    <div class="alert alert-warning center text-danger">
  <h4>{{=T('There are no teachers left to accept')}}</h4> 
    </div>
    {{pass}}   
    </div> 
</div>
</div>
