{{extend 'layout.html'}}
<div class="container" >
  <div class="jumbotron" align='center'>
    <h1>{{=T('Files')}}</h1>
</div>


<div class="panel panel-success" id='files'>
    <table style="width:100%">
        <div class="panel-heading">
            <tr><th><h2>{{=T("File")}}</h2></th><th><h2>{{=T("View")}}</h2></th><th><h2>{{=T("Send")}}</h2></th></tr>
        </div>
        <div class="panel-body">
            {{for file in lstFiles:}}
                <tr><td><strong><span class="votes">{{=file}}</span></strong></td>
                <td><strong><a href="{{=URL('my_big_file_downloader',args=(file))}}">{{=file}}</a></strong></td>
                <td><strong><a href="{{=URL('maquinas','mostrar', vars=dict(accion='re_copy_files', archi= file))}}">
                     <button> {{=T('Send Files')}} </button>
                    </a></strong></td></tr>
            {{pass}}
        </div>
    </table>

</div>
