{{extend 'about/layout.html'}}
{{block main}}
   <div class="page-header">
    <h1 class="text-center"> {{=T('About')}}</h1>
   </div>

    <div class='row'>
        <div class="col-sm-6 col-sm-offset-3 text-justified">
            <div class="table-responsive">
             <div class="table">
                 <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                 <p>
              asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd
              asdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasdasd
              </p>
                 </td>
              
             </div>
         </div>
          
        </div>
    </div>
    <div class="row text-center" >
        <div class="col-sm-6">
          <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Camilo Urrego</h2>
          <p>asdasd
          </p>
          <a href="#" class="btn btn-primary" title="See more">See works »</a>
        </div>
            
        <div class="col-sm-6">
          <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Carlos Suarez</h2>
          <p>asdasd
          </p>
          <a href="#" class="btn btn-primary" title="See more">See works »</a>
        </div>
    </div>

{{end}}
