{{extend 'layout.html'}}
{{if grid:}}
    {{=grid}}
{{else:}}
<div class="alert alert-warning" align="center">
    <h3 >
        {{=T("There are no machines created")}}
    </h3>
</div>

{{if is_admin:}}
<div align="center">
    <h2>
        <span>
            <a href="{{=URL('academia','register_machine')}}">
                <button class= 'btn btn-default btn-lg'> 
                    {{=T("Create one? (Courses have to exist)")}}
                </button>
            </a>
        </span>
    </h2>
</div>
{{else:}}
<div align="center">
    <h2>
        {{=T("Please request the admin to create one")}}
    </h2>
</div>
    
{{pass}}
{{pass}}


{{#=BEAUTIFY(response._vars)}}
