{{extend 'layout.html'}}

<div class="jumbotron" align='center'>
    <h1>{{=T('Previous Jobs')}}</h1>
</div>
    
<div class="panel panel-info" id='files'>
    {{ if grid != []: }}
        <div class="panel-heading">
            <h2 class="panel-title center">{{=T("These are your previous jobs")}}</h2>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">{{=grid}}</div>
                 </div>
            </div>
       </div>
    {{else:}}
    <div class="alert alert-warning center text-danger">
  <h4>{{=T("You haven't executed tasks yet")}}</h4> 
    </div>
    {{pass}}
</div>
