{{extend 'layout.html'}}
<script>
$(document).ready(
setTimeout(function()
  {
    var tabla = $("div.web2py_htmltable")
    if ( tabla) {
      var cuerpo = tabla.find("tbody")
      var fila = cuerpo.find("tr")
      var x = fila.children()[0].textContent
      if (x != "COMPLETED" && x != "FAILED") {        
        console.log(x);
        location.reload();
      }
      else{
        console.log(x);
      }
}
  }
, 10000));

</script>


<div class="modal-header">
    <div class="container" >
        <div class="jumbotron" align='center'>
            <h1>{{=T('Job  ')}} {{=job_name}}</h1>
        </div>
</div>
<!--
    <span>
        <a href={{=enlace_resumen}}> Resumen detallado</a>
    </span>
-->
    
<div class="modal-body">
    
    <div class="panel panel-info" id='info'>
    <div class="panel-heading">
        <h2 class="panel-title center">{{=T("Global Summary")}}</h2>
    </div>
     <div class="panel-body center">
        {{=grid}}
    </div>
</div>
    
    <br>
    
    <div class="panel panel-success" id='summary_host'>
        <div class="panel-heading">
            <h3 class="panel-title center">{{=T("Summary per host")}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
        <thead>
          <tr>
            <th>IP</th>
            <th>OK</th>
            <th>Changed</th>
            <th>Unreachable</th>
            <th>Failed</th>
          </tr>
        </thead>
        {{if existe_resumen == T('Yes'):}}
        <tbody>
            {{for pareja in resultados:}}
            <tr>
                <td>{{=pareja[0]}}</td>
                <th>{{=pareja[1]["ok"]}}</th>
                <th>{{=pareja[1]["changed"]}}</th>
                <th>{{=pareja[1]["unreachable"]}}</th>
                <th>{{=pareja[1]["failed"]}}</th>
          </tr>
          {{pass}}
        </tbody>
        {{else:}}
            <tr>
                <td>{{=resultados}}</td>
            </tr>
    {{pass}}
    </table> <! Fin del resumen por maquina -->
        </div>
</div>   
    
    
    <div class="panel panel-success" id='variables'>
    <div class="panel-heading">
        <h3 class="panel-title center">{{=T("Variables")}}</h3>
    </div>
     <div class="panel-body center">
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Variable</th>
            <th>Valor</th>
          </tr>
        </thead>
        {{if variables != dict():}}
        <tbody>
            {{for campo in variables:}}
            <tr>
                <td>{{=T(campo)}}</td>
                <th>{{=variables[campo]}}</th>
          </tr>
          {{pass}}
        </tbody>
        {{else:}}
            <tr>
                <td>{{=T("There were no variables set for this job")}}</td>
            </tr>
    {{pass}}
    </table>
    </div>
</div>
    
</div>


{{if debug != dict():}}
 <br>
    <div class="panel panel-info" id='files'>
    <div class="panel-heading">
        <h2 class="panel-title center">{{=T("Job Output")}}</h2>
    </div>
     <div class="panel-body center">
        {{for ip in datos:}}
        <div class="panel panel-success" id="system">
            <div class="panel-heading">
                <h2 class="panel-title">{{=ip}}</h2>
            </div>
            <div class="panel-body">
                 <table class="table table-hover">
                    <thead>
                      <tr>
                        {{for cabeza in cabezas:}}
                          <th>{{=cabeza}}</th>
                        {{pass}}
                      </tr>
                    </thead>
                     
                     {{lineas = datos[ip]}}
                    <tbody>
                        {{for linea in lineas:}}
                        <tr>
                            {{for campo in linea:}}
                                <td>{{=campo}}</td>
                            {{pass}}
                        </tr>
                        {{pass}}
                    </tbody>
                {{#pass}}
                </table>
            </div>            
        </div>
    {{pass}}

{{pass}}
    </div>
    </div>

<div class="modal-footer">
    <input class="btn btn-default" onclick="window.history.back();" value="{{=T('Back')}}" type="button">
    <input class="btn btn-primary" value="{{=T('Download Resume')}}" type="button">
</div>
{{#=BEAUTIFY(response._vars)}}
